.DS_Store
/.idea
*.csv
*.json
*.iml
*.dbf
*.fix
*.prj
*.shp
*.shx
*.zip
*.paw
*.class
*.jar
/Backend & APIs/target
/Frontend/doc
/Frontend/www/add_new_help.php
/Frontend/www/admin_retrieve.php
/Frontend/www/aggiornaProcessi.php
/Frontend/www/aggiornaUplaoadedFiles.php
/Frontend/www/api
/Frontend/www/archive.php
/Frontend/www/audit_violation.php
/Frontend/www/auditPersonalData.php
/Frontend/www/bootstrap
/Frontend/www/bootstrap-colorpicker
/Frontend/www/bootstrapToggleButton
/Frontend/www/btoa
/Frontend/www/carica_processo.php
/Frontend/www/carica.php
/Frontend/www/carica2.php
/Frontend/www/caricaJob2.php
/Frontend/www/caricaZip.php
/Frontend/www/change_publish.php
/Frontend/www/ckeditor
/Frontend/www/colorMap.php
/Frontend/www/config.php
/Frontend/www/control.php
/Frontend/www/css
/Frontend/www/curl.php
/Frontend/www/data_analytics
/Frontend/www/dataAnalyticMicroService_editor.php
/Frontend/www/dataAnalyticUploadZip.php
/Frontend/www/dataTypes_Users.php
/Frontend/www/delegation.php
/Frontend/www/delete_file.php
/Frontend/www/delete_help.php
/Frontend/www/detail_job.php
/Frontend/www/dictionary_editor.php
/Frontend/www/dynatable
/Frontend/www/edit_help.php
/Frontend/www/external_service.1.php
/Frontend/www/external_service.php
/Frontend/www/file_archive.php
/Frontend/www/filterFacet.php
/Frontend/www/fontAwesome
/Frontend/www/fonts
/Frontend/www/foto_service2
/Frontend/www/functionalities.php
/Frontend/www/get_auditData.php
/Frontend/www/get_comment_data.php
/Frontend/www/get_data_photo_service.php
/Frontend/www/get_dictionary.php
/Frontend/www/get_heatmap.php
/Frontend/www/get_KPI_values.php
/Frontend/www/get_photo_data.php
/Frontend/www/get_valuetypes.php
/Frontend/www/getdata.php
/Frontend/www/getOwnership.php
/Frontend/www/getSolrResponse.php
/Frontend/www/heatmap.php
/Frontend/www/help_manager.php
/Frontend/www/images
/Frontend/www/img
/Frontend/www/imgUploaded
/Frontend/www/index.php
/Frontend/www/info.php
/Frontend/www/insert_KPI.php
/Frontend/www/insertUser.php
/Frontend/www/job_type_creation.php
/Frontend/www/job_type.php
/Frontend/www/jquery
/Frontend/www/jquery.raty.css
/Frontend/www/jquery.raty.js
/Frontend/www/js
/Frontend/www/KPI_editor.php
/Frontend/www/ldapLoginExample.php
/Frontend/www/leaflet
/Frontend/www/lib
/Frontend/www/load_process.php
/Frontend/www/loader.css
/Frontend/www/login.php
/Frontend/www/logout.php
/Frontend/www/mainMenu.php
/Frontend/www/mapping
/Frontend/www/mapping_data.php
/Frontend/www/MicroService_editor.php
/Frontend/www/mobMainMenu.php
/Frontend/www/modify_dataAnalyticMicroService.php
/Frontend/www/modify_KPI.php
/Frontend/www/modify_ownership.php
/Frontend/www/modify_resource.php
/Frontend/www/modify_status_resource.php
/Frontend/www/modify.php
/Frontend/www/move_file.php
/Frontend/www/nature_list.php
/Frontend/www/nbproject
/Frontend/www/new 4.php
/Frontend/www/new_scheduler.php
/Frontend/www/nuovo_processo.php
/Frontend/www/page.php
/Frontend/www/param_process.php
/Frontend/www/photo_service.php
/Frontend/www/process_action.php
/Frontend/www/process_job.php
/Frontend/www/process_jobOLD.php
/Frontend/www/Process_loader.php
/Frontend/www/publish.php
/Frontend/www/rate.js
/Frontend/www/registrazione.php
/Frontend/www/schedulers_mng.php
/Frontend/www/scss
/Frontend/www/session_clear.php
/Frontend/www/session.php
/Frontend/www/session2.php
/Frontend/www/sessions
/Frontend/www/show_detail_job.php
/Frontend/www/solr_collection
/Frontend/www/sql
/Frontend/www/sso
/Frontend/www/ssoLogin.php
/Frontend/www/star-half.png
/Frontend/www/star-off.png
/Frontend/www/star-on.png
/Frontend/www/transfer_file_property.php
/Frontend/www/update_down.php
/Frontend/www/update_votes.php
/Frontend/www/upload_process_production.php
/Frontend/www/upload.php
/Frontend/www/view_public_processes_for_all.php
/Frontend/www/view_public_processes2.php
/Frontend/www/xmlhttprequest
/Frontend/.idea
/Backend & APIs/.idea
/deploy.sh
