.DS_Store
/.idea
*.csv
*.json
*.iml
*.dbf
*.fix
*.prj
*.shp
*.shx
*.zip
*.paw
*.class
*.jar
/Backend & APIs/target
/Backend & APIs/.idea
/deploy.sh
/add_data.sh
/Frontend/process-loader/www/transfer_file_property.php
/Frontend/process-loader/www/update_down.php
/Frontend/process-loader/www/update_votes.php
/Frontend/process-loader/www/upload_process_production.php
/Frontend/process-loader/www/upload.php
/Frontend/process-loader/www/view_public_processes_for_all.php
/Frontend/process-loader/www/view_public_processes2.php
/Frontend/process-loader/www/xmlhttprequest
/Frontend/process-loader/doc
/Frontend/process-loader/LICENSE
/Frontend/process-loader/README.md
/Frontend/process-loader/www/add_new_help.php
/Frontend/process-loader/www/admin_retrieve.php
/Frontend/process-loader/www/aggiornaProcessi.php
/Frontend/process-loader/www/aggiornaUplaoadedFiles.php
/Frontend/process-loader/www/api
/Frontend/process-loader/www/archive.php
/Frontend/process-loader/www/audit_violation.php
/Frontend/process-loader/www/auditPersonalData.php
/Frontend/process-loader/www/bootstrap
/Frontend/process-loader/www/bootstrap-colorpicker
/Frontend/process-loader/www/bootstrapToggleButton
/Frontend/process-loader/www/btoa
/Frontend/process-loader/www/carica_processo.php
/Frontend/process-loader/www/carica.php
/Frontend/process-loader/www/carica2.php
/Frontend/process-loader/www/caricaJob2.php
/Frontend/process-loader/www/caricaZip.php
/Frontend/process-loader/www/change_publish.php
/Frontend/process-loader/www/ckeditor
/Frontend/process-loader/www/colorMap.php
/Frontend/process-loader/www/config.php
/Frontend/process-loader/www/control.php
/Frontend/process-loader/www/css
/Frontend/process-loader/www/curl.php
/Frontend/process-loader/www/data_analytics
/Frontend/process-loader/www/dataAnalyticMicroService_editor.php
/Frontend/process-loader/www/dataAnalyticUploadZip.php
/Frontend/process-loader/www/dataTypes_Users.php
/Frontend/process-loader/www/delegation.php
/Frontend/process-loader/www/delete_file.php
/Frontend/process-loader/www/delete_help.php
/Frontend/process-loader/www/detail_job.php
/Frontend/process-loader/www/dictionary_editor.php
/Frontend/process-loader/www/dynatable
/Frontend/process-loader/www/edit_help.php
/Frontend/process-loader/www/external_service.1.php
/Frontend/process-loader/www/external_service.php
/Frontend/process-loader/www/file_archive.php
/Frontend/process-loader/www/filterFacet.php
/Frontend/process-loader/www/fontAwesome
/Frontend/process-loader/www/fonts
/Frontend/process-loader/www/foto_service2
/Frontend/process-loader/www/functionalities.php
/Frontend/process-loader/www/get_auditData.php
/Frontend/process-loader/www/get_comment_data.php
/Frontend/process-loader/www/get_data_photo_service.php
/Frontend/process-loader/www/get_dictionary.php
/Frontend/process-loader/www/get_heatmap.php
/Frontend/process-loader/www/get_KPI_values.php
/Frontend/process-loader/www/get_photo_data.php
/Frontend/process-loader/www/get_valuetypes.php
/Frontend/process-loader/www/getdata.php
/Frontend/process-loader/www/getOwnership.php
/Frontend/process-loader/www/getSolrResponse.php
/Frontend/process-loader/www/heatmap.php
/Frontend/process-loader/www/help_manager.php
/Frontend/process-loader/www/images
/Frontend/process-loader/www/img
/Frontend/process-loader/www/imgUploaded
/Frontend/process-loader/www/index.php
/Frontend/process-loader/www/info.php
/Frontend/process-loader/www/insert_KPI.php
/Frontend/process-loader/www/insertUser.php
/Frontend/process-loader/www/job_type_creation.php
/Frontend/process-loader/www/job_type.php
/Frontend/process-loader/www/jquery
/Frontend/process-loader/www/jquery.raty.css
/Frontend/process-loader/www/jquery.raty.js
/Frontend/process-loader/www/js
/Frontend/process-loader/www/KPI_editor.php
/Frontend/process-loader/www/ldapLoginExample.php
/Frontend/process-loader/www/leaflet
/Frontend/process-loader/www/lib
/Frontend/process-loader/www/load_process.php
/Frontend/process-loader/www/loader.css
/Frontend/process-loader/www/login.php
/Frontend/process-loader/www/logout.php
/Frontend/process-loader/www/mainMenu.php
/Frontend/process-loader/www/mapping
/Frontend/process-loader/www/mapping_data.php
/Frontend/process-loader/www/MicroService_editor.php
/Frontend/process-loader/www/mobMainMenu.php
/Frontend/process-loader/www/modify_dataAnalyticMicroService.php
/Frontend/process-loader/www/modify_KPI.php
/Frontend/process-loader/www/modify_ownership.php
/Frontend/process-loader/www/modify_resource.php
/Frontend/process-loader/www/modify_status_resource.php
/Frontend/process-loader/www/modify.php
/Frontend/process-loader/www/move_file.php
/Frontend/process-loader/www/nature_list.php
/Frontend/process-loader/www/nbproject
/Frontend/process-loader/www/new 4.php
/Frontend/process-loader/www/new_scheduler.php
/Frontend/process-loader/www/nuovo_processo.php
/Frontend/process-loader/www/page.php
/Frontend/process-loader/www/param_process.php
/Frontend/process-loader/www/photo_service.php
/Frontend/process-loader/www/process_action.php
/Frontend/process-loader/www/process_job.php
/Frontend/process-loader/www/process_jobOLD.php
/Frontend/process-loader/www/Process_loader.php
/Frontend/process-loader/www/publish.php
/Frontend/process-loader/www/rate.js
/Frontend/process-loader/www/registrazione.php
/Frontend/process-loader/www/schedulers_mng.php
/Frontend/process-loader/www/scss
/Frontend/process-loader/www/session_clear.php
/Frontend/process-loader/www/session.php
/Frontend/process-loader/www/session2.php
/Frontend/process-loader/www/sessions
/Frontend/process-loader/www/show_detail_job.php
/Frontend/process-loader/www/solr_collection
/Frontend/process-loader/www/sql
/Frontend/process-loader/www/sso
/Frontend/process-loader/www/ssoLogin.php
/Frontend/process-loader/www/star-half.png
/Frontend/process-loader/www/star-off.png
/Frontend/process-loader/www/star-on.png
/Frontend/.idea
/Frontend/dashboard-builder/dashboard_frontend/api
/Frontend/dashboard-builder/dashboard_frontend/boostrapTable
/Frontend/dashboard-builder/dashboard_frontend/bootstrap3-editable
/Frontend/dashboard-builder/dashboard_frontend/bootstrapSelect
/Frontend/dashboard-builder/dashboard_frontend/bootstrapSlider
/Frontend/dashboard-builder/dashboard_frontend/bootstrapToggleButton
/Frontend/dashboard-builder/dashboard_frontend/cam
/Frontend/dashboard-builder/dashboard_frontend/common.php
/Frontend/dashboard-builder/dashboard_frontend/conf
/Frontend/dashboard-builder/dashboard_frontend/config.php
/Frontend/dashboard-builder/dashboard_frontend/controllers
/Frontend/dashboard-builder/dashboard_frontend/css
/Frontend/dashboard-builder/dashboard_frontend/Dashboard_DB_StartEmpty.sql
/Frontend/dashboard-builder/dashboard_frontend/datetimepicker
/Frontend/dashboard-builder/dashboard_frontend/dotdotdot
/Frontend/dashboard-builder/dashboard_frontend/dynatable
/Frontend/dashboard-builder/dashboard_frontend/favicon.ico
/Frontend/dashboard-builder/dashboard_frontend/fonts
/Frontend/dashboard-builder/dashboard_frontend/img
/Frontend/dashboard-builder/dashboard_frontend/index.php
/Frontend/dashboard-builder/dashboard_frontend/js
/Frontend/dashboard-builder/dashboard_frontend/leaflet-bubble
/Frontend/dashboard-builder/dashboard_frontend/leaflet-markercluster
/Frontend/dashboard-builder/dashboard_frontend/leafletCore
/Frontend/dashboard-builder/dashboard_frontend/management
/Frontend/dashboard-builder/dashboard_frontend/moment
/Frontend/dashboard-builder/dashboard_frontend/nbproject
/Frontend/dashboard-builder/dashboard_frontend/phpmailer
/Frontend/dashboard-builder/dashboard_frontend/phpWebsockets
/Frontend/dashboard-builder/dashboard_frontend/rocket-chat-rest-client
/Frontend/dashboard-builder/dashboard_frontend/ScheduledTasks
/Frontend/dashboard-builder/dashboard_frontend/sso
/Frontend/dashboard-builder/dashboard_frontend/trafficRTDetails
/Frontend/dashboard-builder/dashboard_frontend/view
/Frontend/dashboard-builder/dashboard_frontend/wicket
/Frontend/dashboard-builder/dashboard_frontend/widgets/actuatorUpdateValue.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/actuatorUpdateValuePersonalApps.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/alarmTypes.js
/Frontend/dashboard-builder/dashboard_frontend/widgets/commonModules
/Frontend/dashboard-builder/dashboard_frontend/widgets/curlProxyForTwitterVg.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/esbDao.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/fakeGeoJsons.js
/Frontend/dashboard-builder/dashboard_frontend/widgets/getBubbleMetricsProxy.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getDataMetrics.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getDataMetricsForTimeTrend.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getIconsPool.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getOrthomaps.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getParametersWidgets_bak.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getParametersWidgets.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getProcessStatus.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/getServiceQuery.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/layers
/Frontend/dashboard-builder/dashboard_frontend/widgets/ol
/Frontend/dashboard-builder/dashboard_frontend/widgets/proxyGisWFS.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/time.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/trafficEventsTypes.js
/Frontend/dashboard-builder/dashboard_frontend/widgets/updateBarSeriesParameters.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widget3DMap.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetAlarms.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetAlarmsNew.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetBarContent.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetBarSeries.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetButton.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetCarrierPosition.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetClock.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetColumnContent.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetCtxMenu_1.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetCtxMenu.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetCurvedLineSeries.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetEmpty.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetEvacuationPlans.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetEvacuationPlansNew.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetEvents.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetEventsNew.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetExternalContent.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetFirstAid.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetGaugeChart.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetGeolocator.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetGisWFS.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetHeader_1.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetHeader_2.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetHeader.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetImpulseButton.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetKnob.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetLineSeries.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetNetworkAnalysis.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetNumericKeyboard.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetOnOffButton.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetOperatorEventsList.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetOperatorEventsListNew.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetPieChart.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetPrevMeteo.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetProcess.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetProtezioneCivile.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetProtezioneCivileFirenze.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetRadarSeries.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetResources.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetResourcesNew.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSelector.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSelectorNew_bak.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSelectorTech.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSelectorWeb.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSeparator.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetServerStatus.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSingleContent_1.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSingleContent.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSmartDS.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSpeedLimit.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetSpeedometer.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetStateRideAtaf.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTable.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTemplate.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTimeTrend_1.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTimeTrend.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTimeTrendCompare.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTracker.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTrafficEvents.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTrafficEventsNew.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTrafficLight.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/widgetTrendMentions.php
/Frontend/dashboard-builder/dashboard_frontend/widgets/writePngOnDisk.php
/Frontend/dashboard-builder/dashboard_frontend/wsServer-go
